@media (max-width: 90rem){
    .flex-divided {
        flex-direction: column;
    }

    .news {
        margin: 0;
    }
}

@media (max-width: 60rem){
    .introduction,
    .search {
        width: 100%;
    }

    .search {
        
        &__input {
            padding: 1.5rem 5rem;
            font-size: 1.4rem;
        }

        &__icon {
            width: 1.5rem;
            height: 1.5rem;
        }
    }

    .introduction {

        margin-bottom: 6rem;
        margin-top: 0;
        
        &__header {
            max-width: 100%;
        
            & > h1 {
                font-size: 2.8rem;
            }

            & > h4 {
                font-size: 1.4rem;
            }
        }
    }

    .hero {
        padding-bottom: 4rem;
    }
    
    .btn {
        padding: 1.5rem 2rem;
        font-size: 1.4rem;
    }

    .faq {
        margin: 4rem 0;

        &__heading {
            font-size: 1.8rem;
        }
    }

    .accordion {
        padding: 2rem;
        font-size: 1.4rem;

        &__circle > .icon {
            width: 2.5rem;
        }
    }

    .extended-accordion {

        max-width: 100%;

        & > * {
            font-size: 1.4rem;
        }

        &__link {
            background-color: $secondary-color;
            color: $tertiary-color;
            text-decoration: none;
            padding: 1rem;
            display: flex;
            justify-content: center;
            border-radius: $default-radius;

            &:hover,
            &:focus {
                background-color: $secondary-color-hover;
            }
        }
    }

    .news {

        &__heading {
            font-size: 1.8rem;
        }

        &__link {
            font-size: 1.4rem;
        }
    }
}