.search-container {
    position: relative;
    width: 50%;
}

.search {

    position: relative;

    &__input {
        padding: 2.5rem 6rem;
        width: 100%;
        font-size: 1.6rem;
        color: $tertiary-color;
        background-color: $input-color;
        outline: none;
        border: none;
        border-radius: $default-radius;
        font-family: inherit;

        &:active,
        &:focus {
            background-color: $quaternary-color;

            &::placeholder {
                color: $tertiary-color;
            }

        }

        &::placeholder {
            color: $placeholder-color;
        }
    }

    &__icon {
        position: absolute;
        top:50%;
        left:2rem;
        transform: translateY(-50%);
        left: 2rem;
        width: 2rem;
        height: 2rem;

        &--focused {
            stroke: $tertiary-color;
        }
    }
}

.searchResults {
    position: absolute;
    background-color: $quaternary-color;
    color: $tertiary-color;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px, rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;
    z-index: 10;
    font-size: 1.4rem;
    border-bottom-left-radius: $default-radius;
    border-bottom-right-radius: $default-radius;
    margin-top: 1rem;
    width: 100%;

    & > ul li {

        &:not(:last-child){
            border-bottom: 1px solid rgb(207, 207, 207);
        }
    }
    
    & > ul li a {

        padding: 1.5rem 0;
        padding-left: 1rem;
        width: calc(100% - 1rem);
        display: block;

        &:hover {
            background-color: #e7e7e7;
        }
    }
}