
// COLORS

$primary-color: #3C1E5F;
$secondary-color: #FFD164;
$secondary-color-hover: #eec159;
$tertiary-color: #0F0F0F;
$quaternary-color: #fff;

$accordion-color: hsl(42, 100, 73, 0.6);

$placeholder-color: #AC9EBC;
$input-color: #553B74;


// RADIUS

$default-radius: 3px;


// WEIGHTS

$font-regular: 400;
$font-medium: 500;
$font-semibold: 600;